.Buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  .BtnHome {
    height: 60px;
    width: 60px;
    border-radius: 8px;
    border: none;
    background-color:rgb(134, 158, 228);
    color: white;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
  
    &:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }
  }
  
  .BtnRefresh {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: none;
    background-color:rgb(134, 158, 228);
    color: white;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
  
    &:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }
  }
}

.GamePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  .Question {
    border: 2px solid rgb(134, 158, 228);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    padding: 10px;

    h3 {
      color: rgb(9, 83, 143);
    }
    .userInfo {
      border: 2px solid orange;
      display: flex;
      margin-left: auto;
      padding: 2px 4px;
      border-radius: 4px;

      img {
        width: 40px;
        height: 60px;
      }
    }
  }

  .AnswerContainer {
    display: flex;
    gap: 20px;
    flex-direction: row;

    .Answer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      border-radius: 8px;
      border: 2px solid black;
      margin-bottom: 10px;
      padding: 20px;
    }
  }
}
