.GamePage {
  display: flex;

  flex-direction: column;

  align-items: flex-start;

  height: 100vh;
  width: 100%;
  overflow-x: hidden;

  .Buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding-top: 20px;
    margin-bottom: 20px;
    h1 {
      text-align: center;
      color: rgb(238, 238, 238);
    }
  }
  .background {
    min-width: 100%;
    min-height: 400px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
    background-image: contain;
    background-color: black;
  }

  justify-content: space-around;

  .BtnHome {
    height: 60px;
    width: 60px;
    border-radius: 8px;
    border: none;
    background-color: rgb(134, 158, 228);
    color: white;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }
  }

  .BtnRefresh {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: none;
    background-color: rgb(134, 158, 228);
    color: white;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }
  }
}

.GamePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Question {
    border: 3px solid rgb(134, 158, 228);
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(71, 85, 95, 0.281);
    color: white;
    text-align: center;

    .userInfo {
      border: 2px solid orange;
      display: flex;
      margin-left: auto;
      padding: 2px 4px;
      border-radius: 4px;

      img {
        width: 40px;
        height: 60px;
      }
    }
  }
  .AnswerContainer {
    max-height: 350px;
    min-height: 300px;
    text-align: center;
    color: white;
    h4 {
      font-size: 20px;
      margin-top: 0;
    }
    .AnswerGrid {
      display: grid;
      grid-template-columns: 50%, 50%;
      grid-auto-rows: minmax(auto);
      grid-gap: 20px;

      .Answer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        max-width: 100px;
        min-width: 100px;
        border-radius: 10px;
        color: rgb(0, 0, 0);
        text-align: center;
        margin: 0;
        background-color: white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      }

      .Answer:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
      .Answer:nth-child(1) {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
      }
      .Answer:nth-child(2) {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
      }
      .Answer:nth-child(3) {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
      }
      .Answer:nth-child(2) {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
      }
    }
  }

  .BtnRefresh {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: none;
    background-color: rgb(134, 158, 228);
    color: white;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 20%;

    &:hover {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }
  }
}
.noBackground {
  display: none;
}
.background {
  min-width: 100%;
  min-height: 400px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
  background-image: contain;
  animation: fadeIn 3s;
  background-color: black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
