.Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;

  $breakpoint-tablet: 768px;
  @media (min-width: $breakpoint-tablet) {
    & {
      margin: 0 100px;
    }
  }

  $breakpoint-desktop: 1024px;
  @media (min-width: $breakpoint-desktop) {
    & {
      margin: 0 150px;
    }
  }

  .containerTitle {
    display: flex;
    align-items: center;

    .title {
      font-family: "Fortnite";
      text-transform: uppercase;
      font-size: 50px;
      color: rgb(9, 83, 143);
      margin-right: 20px;
      transform: translateY(-20px);
      animation: fadeInUp 1s 5s forwards;
    }

    .logo {
      width: 100px;
      opacity: 0;
      transform: translateY(-20px);
      animation: fadeInUp 1s 5s forwards;
    }
  }

  .description {
    width: 80%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 59, 107);
    transform: translateY(-20px);
    animation: fadeInUp 1s 5s forwards;
  }

  audio {
    height: 40px;
    width: 110px;
    align-self: start;
    margin-left: 14%;
  }

  audio::-webkit-media-controls-panel {
    background-color: rgb(134, 158, 228);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
