.Layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow-x: hidden;

  .background {
    min-width: 100%;
    min-height: 400px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
    filter: blur(2px);
  }

  .images {
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    z-index: -1;
    height: 300px;
    width: 100%;
    .avatar1 {
      width: 160px;

      position: absolute;
      top: 60%;
      left: 0;
      z-index: -1;
      transform: rotate(30deg);
    }
    .avatar2 {
      width: 160px;

      position: absolute;
      top: 10%;
      right: 0px;
      z-index: -1;
      transform: rotate(-20deg);
    }

    .eye {
      position: absolute;

      border-radius: 20px;
      width: 10px;
    }
  }
}
