@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap");
@font-face {
  font-family: "Fortnite";
  src: url("./../fortnite.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
}
