@font-face {
  font-family: "Fortnite";
  src: url("./../fortnite.otf") format("opentype");
}
@font-face {
  font-family: "Geosan";
  src: url("./../GeosansLight.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: "Geosan";
}
